.App {
  text-align: center;
  margin-top: 12%;
}

.btnInc {
  background-color: greenyellow;
  width: 70px;
  height: 35px;
  cursor: pointer;
  border: none;
  box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.3);
  font-size: x-large;
}
.btnDec {
  background-color: rgb(255, 47, 47);
  width: 70px;
  height: 35px;
  cursor: pointer;
  border: none;
  box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.3);
  font-size: x-large;
  color: white;
}
.btnRes {
  background-color: rgb(50, 47, 255);
  width: 70px;
  height: 35px;
  cursor: pointer;
  border: none;
  box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.3);
  font-size: large;
  color: white;
}
.App button {
  margin: 15px 15px;
}
